.view-product-page {
  position: relative;
  min-height: 100vh;
  padding: 120px 24px 80px;

  background: #05070c;
  color: #fff;

  isolation: isolate;
  z-index: 2;
}

.view-product-card {
  position: relative;
  z-index: 3;
}
